{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Kamino Public API","description":"The Kamino API provides a comprehensive way to interact with Kamino without reading directly from the blockchain.\n\nThe API also provides the ability to fetch data that might not be available from just reading the chain.\n\nThe API is rate-limited for unauthenticated users. If you feel you need to make more requests or run into rate-limit issues, please reach out.\n"},"servers":[{"url":"https://api.kamino.finance"}],"components":{"schemas":{"AddressBase58":{"type":"string","description":"Valid base58-encoded address","example":"VEG1EMtttdHunMbSza8uoms1R18VXmYSph2bBpHcSJd"},"Decimal":{"type":"string","description":"Decimal value represented as string","example":"1234.56789"},"SnapshotDateTime":{"type":"string","format":"date-time","description":"Timestamp when the snapshot was created (ISO 8601 format)","example":"2025-03-01T12:00:00.000Z"},"TransactionDateTime":{"type":"string","format":"date-time","description":"Timestamp when the transaction was executed (ISO 8601 format)","example":"2025-03-01T12:00:00.000Z"},"Apy":{"type":"string","description":"APY in decimal format (not percentage) represented as string. Multiply by 100 to get percentage (%) - 0.1 in API response is 10%.","example":"0.2","examples":["0.123","0","1","1.23","-0.5","999999.999999"]},"MarketMetricsResponse":{"type":"object","properties":{"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Market public key","example":"9pMFoVgsG2cNiUCSBEE69iWFN7c1bz9gu9TtPeXkAMTs"}]},"timestamp":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp of the metrics snapshot","example":"2023-06-29T15:15:26.464Z"}]},"metrics":{"type":"object","properties":{"borrowTVL":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total borrowed value in USD","example":"1.000099969999999979181237244607594483571"}]},"depositTVL":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total deposited value in USD","example":"8.357187000999999979181237244607594483571"}]},"obligations":{"type":"integer","description":"Number of obligations","example":38}},"required":["borrowTVL","depositTVL","obligations"],"description":"Market metrics"}},"required":["market","timestamp","metrics"]},"Error":{"type":"object","properties":{"error":{"type":"string","description":"Error message for internal server failure","example":"An internal error occurred"}},"required":["error"],"description":"Internal server error response (500)","example":{"error":"An internal error occurred"}},"BorrowAndStakingApyResponse":{"type":"object","properties":{"createdOn":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp of the snapshot","example":"2023-10-17T15:00:06.009Z"}]},"borrowInterestApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Borrow interest APY","example":"0.027610992938039702"}]},"stakingApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Staking APY","example":"0.066527842899023711405366628964490454572"}]}},"required":["createdOn","borrowInterestApy","stakingApy"]},"ReserveMetricsResponse":{"type":"object","properties":{"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Reserve public key"}]},"liquidityToken":{"type":"string","description":"Liquidity token symbol","example":"SOL"},"liquidityTokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Liquidity token mint address"}]},"maxLtv":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Maximum loan-to-value ratio","example":"0.65"}]},"borrowApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Current borrow APY","example":"0.05450988511483601"}]},"supplyApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Current supply APY","example":"0.038266801210808055"}]},"totalSupply":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total supply amount"}]},"totalBorrow":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total borrow amount"}]},"totalBorrowUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total borrow in USD"}]},"totalSupplyUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total supply in USD"}]}},"required":["reserve","liquidityToken","liquidityTokenMint","maxLtv","borrowApy","supplyApy","totalSupply","totalBorrow","totalBorrowUsd","totalSupplyUsd"]},"LeverageMetricsResponse":{"type":"object","properties":{"avgLeverage":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Average leverage"}]},"totalBorrowed":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total borrowed amount"}]},"totalDeposited":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total deposited amount"}]},"totalBorrowedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total borrowed in USD"}]},"totalObligations":{"type":"string","description":"Total number of obligations"},"totalDepositedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total deposited in USD"}]},"tvl":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total Value Locked"}]},"updatedOn":{"type":"string","format":"date-time","description":"Last update timestamp"},"depositReserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Deposit reserve public key"}]},"borrowReserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Borrow reserve public key"}]},"tag":{"type":"string","description":"Tag (Multiply or Leverage)","example":"Multiply"}},"required":["avgLeverage","totalBorrowed","totalDeposited","totalBorrowedUsd","totalObligations","totalDepositedUsd","tvl","updatedOn","depositReserve","borrowReserve","tag"]},"ReserveAccountDataResponse":{"type":"object","properties":{"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Market public key"}]},"reserves":{"type":"array","items":{"type":"object","properties":{"pubkey":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Reserve public key"}]},"data":{"type":"string","description":"Base64 encoded reserve account data"}},"required":["pubkey","data"]}}},"required":["market","reserves"]},"MarketsCollateralReservesResponse":{"type":"object","properties":{"collateralReserves":{"type":"array","items":{"$ref":"#/components/schemas/CollateralReserve"}}},"required":["collateralReserves"]},"CollateralReserve":{"type":"object","properties":{"lendingMarket":{"$ref":"#/components/schemas/AddressBase58"},"lendingMarketName":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"collateralReserve":{"$ref":"#/components/schemas/AddressBase58"},"collateralMint":{"$ref":"#/components/schemas/AddressBase58"},"borrowReserves":{"type":"array","items":{"$ref":"#/components/schemas/AddressBase58"}},"borrowReserveTerms":{"type":"array","items":{"$ref":"#/components/schemas/BorrowReserveTerms"},"description":"Elevation group terms per entry of borrowReserves, same order. Caps live on /reserves/batch/stats borrowCaps.debtAgainstCollateral. Absent on rows cached before the field existed."},"debtCategory":{"type":"string","description":"Readable debt asset category label","example":"Stablecoin assets"},"debtTag":{"type":"string","description":"Stable debt grouping, tab, and URL key","example":"stables"},"collateralCategory":{"type":"string","nullable":true,"description":"Readable collateral asset category label, or null when uncategorized","example":"Crypto assets"},"collateralTag":{"type":"string","nullable":true,"description":"Stable collateral tab key, or null when uncategorized","example":"crypto"},"collateralBackingDebtUsd":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"USD value of this collateral attributed pro rata to the debt represented by borrowReserves, or null when portfolio market data is unavailable"},"debtAgainstCollateralUsd":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"USD value of the debt represented by borrowReserves attributed pro rata against this collateral, or null when portfolio market data is unavailable"},"sizeUsd":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Sum of collateralBackingDebtUsd and debtAgainstCollateralUsd, or null when either value is unavailable"},"slugs":{"type":"array","items":{"type":"string"}}},"required":["lendingMarket","lendingMarketName","name","description","collateralReserve","collateralMint","borrowReserves","debtCategory","debtTag","collateralCategory","collateralTag","collateralBackingDebtUsd","debtAgainstCollateralUsd","sizeUsd","slugs"]},"BorrowReserveTerms":{"type":"object","properties":{"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Debt reserve these terms apply to, matching an entry of borrowReserves","example":"d4A2prbA2whesmvHaL88BH6Ewn5N4bTSU2Ze8P6Bc4Q"}]},"elevationGroup":{"type":"integer","description":"Elevation group a borrow of this debt against this collateral would auto-select, being the usable common group with the highest ltvPct. 0 when the pair has no usable group, in which case the terms below are the reserves own configuration.","example":2},"maxLtv":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Maximum loan to value ratio for this collateral under elevationGroup","example":"0.87"}]},"liquidationLtv":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Liquidation loan to value ratio for this collateral under elevationGroup","example":"0.92"}]},"borrowFactor":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Borrow factor applied to this debt reserve under elevationGroup","example":"1"}]}},"required":["reserve","elevationGroup","maxLtv","liquidationLtv","borrowFactor"]},"MarketsBatchMetadataResponse":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/MarketMetadata"},"description":"Market metadata keyed by market public key. Unknown markets are omitted.","example":{"7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF":{"reserves":["d4A2prbA2whesmvHaL88BH6Ewn5N4bTSU2Ze8P6Bc4Q"],"name":"SOL/BTC Market","description":"Primary market on mainnet","isCurated":false}}},"MarketMetadata":{"type":"object","properties":{"reserves":{"type":"array","items":{"$ref":"#/components/schemas/AddressBase58"},"description":"Public keys of all reserves in the market","example":["d4A2prbA2whesmvHaL88BH6Ewn5N4bTSU2Ze8P6Bc4Q"]},"name":{"type":"string","description":"Market name","example":"SOL/BTC Market"},"description":{"type":"string","description":"Market description","example":"Primary market on mainnet"},"isCurated":{"type":"boolean","description":"Whether this market is curated","example":false}},"required":["reserves","name","description","isCurated"]},"MarketChartsResponse":{"type":"object","properties":{"history":{"type":"array","items":{"$ref":"#/components/schemas/MarketChartsHistoryPoint"}}},"required":["history"]},"MarketChartsHistoryPoint":{"type":"object","properties":{"timestamp":{"$ref":"#/components/schemas/SnapshotDateTime"},"totalBorrowed":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}]},"totalSupplied":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}]},"obligations":{"type":"integer","nullable":true}},"required":["timestamp","totalBorrowed","totalSupplied","obligations"]},"ReserveChartsResponse":{"type":"object","properties":{"borrowCurve":{"type":"array","items":{"$ref":"#/components/schemas/BorrowRateCurvePoint"}},"history":{"type":"array","items":{"$ref":"#/components/schemas/ReserveChartsHistoryPoint"}}},"required":["borrowCurve","history"]},"BorrowRateCurvePoint":{"type":"object","properties":{"utilizationRateBps":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Utilization rate in basis points","example":"8000"}]},"borrowRateBps":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Nominal annual borrow rate in basis points, before the interest-rate-basis adjustment and fixed host interest. See /reserves/{reservePubkey}/stats for those inputs and the formula.","example":"500"}]}},"required":["utilizationRateBps","borrowRateBps"]},"ReserveChartsHistoryPoint":{"type":"object","properties":{"timestamp":{"$ref":"#/components/schemas/SnapshotDateTime"},"supplyApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Base supply APY at this point in time","example":"0.0412"}]},"borrowApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Base borrow APY at this point in time","example":"0.0621"}]},"totalSupply":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Total reserve supply in UI token units, or null when unavailable","example":"125000.5"},"totalSupplyUsd":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Total reserve supply in USD, or null when unavailable","example":"250001"},"totalBorrow":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Total reserve borrow in UI token units, or null when unavailable","example":"50000.2"},"totalBorrowUsd":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Total reserve borrow in USD, or null when unavailable","example":"100000.4"},"utilization":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Reserve utilization ratio from 0 to 1, calculated as totalBorrowUsd / totalSupplyUsd, or null when unavailable","example":"0.4"}},"required":["timestamp","supplyApy","borrowApy","totalSupply","totalSupplyUsd","totalBorrow","totalBorrowUsd","utilization"]},"ReservesBatchStatsResponse":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ReserveStats"},"description":"Reserve stats keyed by reserve public key. Unknown reserves are omitted."},"ReserveStats":{"type":"object","properties":{"token":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Reserve liquidity token mint address"}]},"collateralMintAddress":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Reserve collateral token mint address"}]},"rateType":{"type":"string","enum":["variable","fixed","maturity"],"description":"Reserve borrow rate type","example":"variable"},"fixedTerm":{"type":"object","nullable":true,"properties":{"termSeconds":{"type":"integer","description":"Fixed debt term duration in seconds","example":2592000},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Current fixed-rate borrow APY","example":"0.0616"}]}},"required":["termSeconds","apy"],"description":"Fixed-term borrow details, or null for variable and maturity reserves"},"debtMaturityTimestamp":{"type":"string","nullable":true,"format":"date-time","description":"Debt maturity timestamp, or null when the reserve has no configured maturity","example":"2026-08-28T00:00:00.000Z"},"status":{"type":"string","enum":["Active","Obsolete","Hidden"],"description":"On-chain reserve visibility status","example":"Active"},"interestRateBasis":{"type":"string","enum":["legacy","trueApr"],"description":"How the reserve interprets its rate config (borrow rate curve, hostFixedInterestRateBps, reward emissions). `legacy`: nominal slot-year rates accrued per slot over 63,072,000 slots, so the realized annual rate is the configured rate times 500 / recentSlotDurationInMs (see /slots/duration). `trueApr`: wall-clock rates accrued per second over 31,536,000 seconds, no slot adjustment. To plot the curve from /reserves/{reservePubkey}/charts borrowCurve: factor = basis === `trueApr` ? 1 : 500 / recentSlotDurationInMs; borrowApr(u) = (curveRate(u) + hostFixedInterestRateBps / 10000) * factor; supplyApr(u) = u * curveRate(u) * factor * (1 - protocolTakeRatePct / 100). Static per reserve config; reserves in one market can differ.","example":"trueApr"},"hostFixedInterestRateBps":{"type":"integer","description":"Fixed host interest added on top of the curve or fixed borrow rate, in basis points of the nominal annual rate in the reserve interestRateBasis. Paid entirely to the host: included in borrow APR, excluded from supply APR. 0 when not configured.","example":50},"protocolTakeRatePct":{"type":"integer","description":"Share of borrow interest taken by the protocol as an integer percentage from the reserve config. Depositors keep (100 - protocolTakeRatePct) / 100 of the curve interest; this is the raw config value, not the depositor keep-ratio.","example":10},"supplyApy":{"type":"object","properties":{"current":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Current base APY","example":"0.0412"}]},"avg7d":{"anyOf":[{"$ref":"#/components/schemas/Apy"},{"nullable":true}],"description":"Average base APY over the last 7 days, or null when no history is available","example":"0.0398"},"avg14d":{"anyOf":[{"$ref":"#/components/schemas/Apy"},{"nullable":true}],"description":"Average base APY over the last 14 days, or null when no history is available","example":"0.0395"},"avg30d":{"anyOf":[{"$ref":"#/components/schemas/Apy"},{"nullable":true}],"description":"Average base APY over the last 30 days, or null when no history is available","example":"0.039"},"avg60d":{"anyOf":[{"$ref":"#/components/schemas/Apy"},{"nullable":true}],"description":"Average base APY over the last 60 days, or null when no history is available","example":"0.0387"},"avg90d":{"anyOf":[{"$ref":"#/components/schemas/Apy"},{"nullable":true}],"description":"Average base APY over the last 90 days, or null when no history is available","example":"0.0384"},"avg180d":{"anyOf":[{"$ref":"#/components/schemas/Apy"},{"nullable":true}],"description":"Average base APY over the last 180 days, or null when no history is available","example":"0.0381"}},"required":["current","avg7d","avg14d","avg30d","avg60d","avg90d","avg180d"]},"borrowApy":{"type":"object","properties":{"current":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Current base APY","example":"0.0412"}]},"avg7d":{"anyOf":[{"$ref":"#/components/schemas/Apy"},{"nullable":true}],"description":"Average base APY over the last 7 days, or null when no history is available","example":"0.0398"},"avg14d":{"anyOf":[{"$ref":"#/components/schemas/Apy"},{"nullable":true}],"description":"Average base APY over the last 14 days, or null when no history is available","example":"0.0395"},"avg30d":{"anyOf":[{"$ref":"#/components/schemas/Apy"},{"nullable":true}],"description":"Average base APY over the last 30 days, or null when no history is available","example":"0.039"},"avg60d":{"anyOf":[{"$ref":"#/components/schemas/Apy"},{"nullable":true}],"description":"Average base APY over the last 60 days, or null when no history is available","example":"0.0387"},"avg90d":{"anyOf":[{"$ref":"#/components/schemas/Apy"},{"nullable":true}],"description":"Average base APY over the last 90 days, or null when no history is available","example":"0.0384"},"avg180d":{"anyOf":[{"$ref":"#/components/schemas/Apy"},{"nullable":true}],"description":"Average base APY over the last 180 days, or null when no history is available","example":"0.0381"}},"required":["current","avg7d","avg14d","avg30d","avg60d","avg90d","avg180d"]},"underlyingApy":{"type":"object","nullable":true,"properties":{"current":{"$ref":"#/components/schemas/Apy"},"sourceType":{"type":"string","enum":["lst","lst-combined","yield-feed"],"description":"`lst`: median staking yield over the last 10 epochs. `lst-combined`: restaked LST, own 10-epoch mean plus the median of each configured underlying LST. `yield-feed`: latest hourly snapshot from the token's yield provider (principal tokens, RWAs, JLP, USDe/sUSDe)."},"sourceMint":{"anyOf":[{"$ref":"#/components/schemas/AddressBase58"},{"nullable":true}],"description":"Mint whose yield series produced this value. Differs from `token` when the reserve token inherits another token's yield (sUSDe reports the USDe mint). Null for `lst-combined`. For history use `/v2/underlying-yields/{token}/history`, not this field."},"observedAt":{"type":"string","format":"date-time","description":"Observation time of the source value. LST values are epoch-based and lag one to two days; yield-feed values are hourly snapshots no older than 48 hours."}},"required":["current","sourceType","sourceMint","observedAt"],"description":"Native yield of the reserve liquidity token itself: LST staking yield, principal-token implied yield, or the yield of an RWA / yield-bearing token. Excludes lending interest, farm incentives, season rewards and pair-specific rewards. Null when the token is not yield-bearing or no fresh source is available; a missing source is never reported as 0. Already included in supplyApyBreakdown.total."},"supplyApyBreakdown":{"type":"object","properties":{"lending":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Base lending APY, equals supplyApy.current"}]},"incentives":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Sum of supplyRewardApys[].apy"}]},"seasonRewards":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Anonymous season campaign APY. Currently always 0: season campaigns are over. Kept so the total formula stays stable if campaigns return."}]},"underlying":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"underlyingApy.current, or 0 when unavailable"}]},"total":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Sum of the four components"}]}},"required":["lending","incentives","seasonRewards","underlying","total"],"description":"Components of the supply APY shown in the Kamino UI for an anonymous viewer, all in decimal APY units. total = lending + incentives + seasonRewards + underlying. underlying is 0 when underlyingApy is null."},"borrowApyBreakdown":{"type":"object","properties":{"borrow":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"equals borrowApy.current (the fixed-rate APY for fixed-term reserves)"}]},"incentives":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Sum of borrowRewardApys[].apy"}]},"seasonRewards":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Anonymous season campaign APY. Currently always 0: season campaigns are over. Kept so the total formula stays stable if campaigns return."}]},"total":{"$ref":"#/components/schemas/Apy"}},"required":["borrow","incentives","seasonRewards","total"],"description":"Components of the borrow APY shown in the Kamino UI for an anonymous viewer, decimal units. total = borrow - incentives - seasonRewards."},"utilization":{"type":"object","properties":{"current":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Current utilization as a ratio of total borrow to total supply","example":"0.825"}]},"avg30d":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Average utilization over the last 30 days, or null when no history is available","example":"0.81"},"avg90d":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Average utilization over the last 90 days, or null when no history is available","example":"0.79"},"avg180d":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Average utilization over the last 180 days, or null when no history is available","example":"0.77"},"avg365d":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Average utilization over the last 365 days, or null when no history is available","example":"0.74"}},"required":["current","avg30d","avg90d","avg180d","avg365d"],"description":"Current reserve utilization and historical averages"},"autoDeleverage":{"type":"object","properties":{"reserve":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether this reserve is subject to auto-deleveraging after its deposit or borrow limit is crossed. Effective only when the market flag is also enabled."},"marginCallPeriodSecs":{"type":"integer","description":"Time in seconds that must pass before deleveraging liquidations start after the limit is crossed. Only relevant when auto-deleveraging is enabled.","example":259200},"thresholdDecreaseBpsPerDay":{"type":"integer","description":"Rate at which the deleveraging LTV threshold decreases, in bps per day. Only relevant when auto-deleveraging is enabled.","example":100},"bonusIncreaseBpsPerDay":{"type":"integer","description":"Rate at which the deleveraging liquidation bonus increases, in bps per day. Only relevant when auto-deleveraging is enabled.","example":50},"minBonusBps":{"type":"integer","description":"Starting bonus for deleveraging liquidations, in bps","example":10}},"required":["enabled","marginCallPeriodSecs","thresholdDecreaseBpsPerDay","bonusIncreaseBpsPerDay","minBonusBps"]},"market":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Market-wide auto-deleveraging gate. Reserve-level auto-deleveraging only applies when this is enabled."},"individualMarginCallPeriodSecs":{"type":"integer","description":"Time in seconds that must pass before deleveraging liquidations start for obligations individually marked for auto-deleveraging","example":86400}},"required":["enabled","individualMarginCallPeriodSecs"]}},"required":["reserve","market"],"description":"On-chain auto-deleveraging configuration of the reserve and its lending market"},"supplyRewardApys":{"type":"array","items":{"type":"object","properties":{"rewardToken":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Reward token mint address"}]},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Current reward APY component","example":"0.011"}]},"tokensPerSecond":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Reward token emission rate in UI token units per second","example":"0.00165"}]}},"required":["rewardToken","apy","tokensPerSecond"]},"description":"Current supply-side farm reward APY components"},"borrowRewardApys":{"type":"array","items":{"type":"object","properties":{"rewardToken":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Reward token mint address"}]},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Current reward APY component","example":"0.011"}]},"tokensPerSecond":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Reward token emission rate in UI token units per second","example":"0.00165"}]}},"required":["rewardToken","apy","tokensPerSecond"]},"description":"Current borrow-side farm reward APY components"},"pairIncentives":{"type":"array","items":{"type":"object","properties":{"side":{"type":"string","enum":["supply","borrow"],"description":"This reserve's role in the incentivized collateral/debt pair"},"collateralReserve":{"$ref":"#/components/schemas/AddressBase58"},"collateralToken":{"$ref":"#/components/schemas/AddressBase58"},"debtReserve":{"$ref":"#/components/schemas/AddressBase58"},"debtToken":{"$ref":"#/components/schemas/AddressBase58"},"farm":{"$ref":"#/components/schemas/AddressBase58"},"rewardToken":{"$ref":"#/components/schemas/AddressBase58"},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Current pair-specific reward APY on eligible pair debt, as a decimal fraction"}]},"tokensPerSecond":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Reward token emission rate in UI token units per second"}]},"stakedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total eligible pair debt in USD used as the APY denominator"}]},"readMoreUrl":{"type":"string","nullable":true,"format":"uri","description":"HTTPS link with more information about the incentive, or null when none is configured"}},"required":["side","collateralReserve","collateralToken","debtReserve","debtToken","farm","rewardToken","apy","tokensPerSecond","stakedUsd","readMoreUrl"]},"description":"Live pair-specific incentives whose eligibility depends on the counterparty asset. Rows are present only while the configured farm is active, funded, emitting and staked. These APYs are not included in supplyApyBreakdown.total or borrowApyBreakdown.total. Derive collateral \"Up to\" APY as max(apy) over supply rows and estimated net borrow APY as borrowApy.current - apy."},"pointsPrograms":{"type":"array","items":{"type":"object","properties":{"side":{"type":"string","enum":["supply","borrow"],"description":"Reserve action that earns points"},"key":{"type":"string","description":"Stable partner identifier, for example solstice"},"name":{"type":"string","description":"Display name of the points program"},"description":{"type":"string","description":"Display copy explaining how this reserve action earns points"},"iconUrl":{"type":"string","format":"uri","description":"HTTPS URL of the points program icon"},"learnMoreUrl":{"type":"string","format":"uri","description":"HTTPS URL with more information about the points program"}},"required":["side","key","name","description","iconUrl","learnMoreUrl"]},"description":"Partner points programs for this reserve and side. These programs have no numeric APY and are not included in supplyApyBreakdown.total or borrowApyBreakdown.total."},"liquidityAvailable":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Available reserve liquidity in UI token units"}]},"liquidityAvailableUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Available reserve liquidity in USD"}]},"actualAvailableLiquidity":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Maximum cap-aware reserve liquidity available for borrowing across cross mode and configured elevation groups, in UI token units. This does not include obligation-specific collateral or LTV constraints."}]},"actualAvailableLiquidityUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Maximum cap-aware reserve liquidity available for borrowing across cross mode and configured elevation groups, in USD. This does not include obligation-specific collateral or LTV constraints."}]},"utilizationLimitBlockBorrowingAbovePct":{"type":"integer","description":"Utilization percentage above which new borrowing is blocked. A value of 0 disables the limit.","example":95},"borrowCaps":{"type":"object","properties":{"utilization":{"type":"object","properties":{"limitPct":{"type":"integer","description":"Utilization percentage above which new borrowing is blocked. A value of 0 disables the limit.","example":95},"currentPct":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Current reserve utilization as a percentage","example":"82.5"}]}},"required":["limitPct","currentPct"]},"netWithdrawal":{"type":"object","nullable":true,"properties":{"capacity":{"$ref":"#/components/schemas/Decimal"},"currentTotal":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount used in the current interval in UI token units. Read as 0 once the interval has elapsed."}]},"intervalLengthSeconds":{"type":"integer"},"lastIntervalStartTimestamp":{"type":"string","format":"date-time"}},"required":["capacity","currentTotal","intervalLengthSeconds","lastIntervalStartTimestamp"],"description":"Net withdrawal cap for reserve debt, or null when the cap is not configured"},"globalDebt":{"type":"object","properties":{"capacity":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Configured cap in UI token units, or null when uncapped"},"currentTotal":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount currently counted against the cap in UI token units"}]}},"required":["capacity","currentTotal"],"description":"Global reserve debt cap and current total borrow"},"debtOutsideElevationGroup":{"type":"object","properties":{"capacity":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Configured cap in UI token units, or null when uncapped"},"currentTotal":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount currently counted against the cap in UI token units"}]}},"required":["capacity","currentTotal"],"description":"Debt cap and current debt outside elevation groups"},"debtAgainstCollateral":{"type":"array","items":{"type":"object","properties":{"capacity":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Configured cap in UI token units, or null when uncapped"},"currentTotal":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount currently counted against the cap in UI token units"}]},"collateralReserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Collateral reserve whose elevation-group debt cap is represented"}]},"elevationGroup":{"type":"integer","minimum":0,"exclusiveMinimum":true}},"required":["capacity","currentTotal","collateralReserve","elevationGroup"]}}},"required":["utilization","netWithdrawal","globalDebt","debtOutsideElevationGroup","debtAgainstCollateral"],"description":"Configured reserve borrowing caps and their current on-chain counters"},"totalSupply":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total reserve supply in UI token units"}]},"totalSupplyUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total reserve supply in USD"}]},"totalBorrow":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total reserve borrow in UI token units"}]},"totalBorrowUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total reserve borrow in USD"}]},"liqLTV":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Liquidation loan-to-value ratio","example":"0.8"}]},"maxLTV":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Maximum loan-to-value ratio","example":"0.75"}]},"borrowFactor":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Borrow factor as a ratio","example":"1"}]},"depositLimit":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Reserve deposit limit in UI token units, or null when uncapped","example":"200000"},"borrowLimit":{"anyOf":[{"$ref":"#/components/schemas/Decimal"},{"nullable":true}],"description":"Reserve borrow limit in UI token units, or null when uncapped","example":"150000"},"minLiquidationBonus":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Minimum liquidation bonus as a ratio","example":"0.02"}]},"liquidationMaxDebtCloseFactorPct":{"type":"integer","description":"Market maximum debt close factor as an integer percentage","example":10},"limits":{"type":"object","properties":{"depositWithdrawalCap":{"type":"object","nullable":true,"properties":{"capacity":{"$ref":"#/components/schemas/Decimal"},"currentTotal":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount used in the current interval in UI token units. Read as 0 once the interval has elapsed."}]},"intervalLengthSeconds":{"type":"integer"},"lastIntervalStartTimestamp":{"type":"string","format":"date-time"}},"required":["capacity","currentTotal","intervalLengthSeconds","lastIntervalStartTimestamp"],"description":"Deposit withdrawal cap, or null when the cap is not configured"},"debtWithdrawalCap":{"type":"object","nullable":true,"properties":{"capacity":{"$ref":"#/components/schemas/Decimal"},"currentTotal":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount used in the current interval in UI token units. Read as 0 once the interval has elapsed."}]},"intervalLengthSeconds":{"type":"integer"},"lastIntervalStartTimestamp":{"type":"string","format":"date-time"}},"required":["capacity","currentTotal","intervalLengthSeconds","lastIntervalStartTimestamp"],"description":"Debt withdrawal cap, or null when the cap is not configured"}},"required":["depositWithdrawalCap","debtWithdrawalCap"]},"proofOfReserves":{"type":"object","properties":{"verified":{"type":"boolean"},"address":{"$ref":"#/components/schemas/AddressBase58"}},"required":["verified","address"]}},"required":["token","collateralMintAddress","rateType","fixedTerm","debtMaturityTimestamp","status","interestRateBasis","hostFixedInterestRateBps","protocolTakeRatePct","supplyApy","borrowApy","underlyingApy","supplyApyBreakdown","borrowApyBreakdown","utilization","autoDeleverage","supplyRewardApys","borrowRewardApys","pairIncentives","pointsPrograms","liquidityAvailable","liquidityAvailableUsd","actualAvailableLiquidity","actualAvailableLiquidityUsd","utilizationLimitBlockBorrowingAbovePct","borrowCaps","totalSupply","totalSupplyUsd","totalBorrow","totalBorrowUsd","liqLTV","maxLTV","borrowFactor","depositLimit","borrowLimit","minLiquidationBonus","liquidationMaxDebtCloseFactorPct","limits","proofOfReserves"]},"KaminoLiquidityTransactionsV2Response":{"type":"object","properties":{"transactions":{"type":"array","items":{"$ref":"#/components/schemas/KaminoLiquidityTransactionV2"}}},"required":["transactions"]},"KaminoLiquidityTransactionV2":{"type":"object","properties":{"createdOn":{"type":"string","format":"date-time","description":"Timestamp when the instruction was executed (ISO 8601 format)","example":"2025-03-01T12:00:00.000Z"},"timestamp":{"type":"integer","description":"Unix timestamp of the instruction in milliseconds","example":1740830400000},"transactionSignature":{"type":"string","description":"Transaction signature","example":"2XWcSQVtR4NoHBhzYpDkYkmYtEFkFXC5ZwrKiPok1kvA86GvnN15qP7RNP6eTeNWgJqgnR1GA2M3QPp1hucW7e1v"},"transactionName":{"type":"string","description":"Instruction display name","example":"Deposit"},"strategy":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Strategy address"}]},"tokenA":{"type":"string","description":"Token A symbol","example":"SOL"},"tokenAMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token A mint"}]},"tokenAAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token A amount"}]},"tokenAPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token A price in USD"}]},"tokenB":{"type":"string","description":"Token B symbol","example":"USDC"},"tokenBMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token B mint"}]},"tokenBAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token B amount"}]},"tokenBPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token B price in USD"}]},"usdValue":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Instruction value in USD"}]},"numberOfShares":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of strategy shares"}]},"sharePrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Share price in USD"}]},"solPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"SOL price in USD"}]},"fullWithdraw":{"type":"boolean","description":"Whether the withdrawal closed the position, absent when unknown"},"latestPosition":{"type":"boolean","description":"Whether the instruction belongs to the current position in the strategy"}},"required":["createdOn","timestamp","transactionSignature","transactionName","strategy","tokenA","tokenAMint","tokenAAmount","tokenAPrice","tokenB","tokenBMint","tokenBAmount","tokenBPrice","usdValue","numberOfShares","sharePrice","solPrice","latestPosition"]},"KlendTransactionsResponseV2":{"type":"object","properties":{"transactions":{"type":"array","items":{"$ref":"#/components/schemas/KlendTransactionResponseV2"}}},"required":["transactions"]},"KlendTransactionResponseV2":{"type":"object","properties":{"createdOn":{"type":"string","format":"date-time"},"timestamp":{"type":"number"},"transactionSignature":{"type":"string"},"transactionName":{"type":"string"},"liquidityToken":{"type":"string"},"liquidityTokenMint":{"$ref":"#/components/schemas/AddressBase58"},"liquidityTokenAmount":{"$ref":"#/components/schemas/Decimal"},"liquidityTokenPrice":{"$ref":"#/components/schemas/Decimal"},"solPrice":{"$ref":"#/components/schemas/Decimal"},"liquidityUsdValue":{"$ref":"#/components/schemas/Decimal"},"isLiquidationWithdrawal":{"type":"boolean"},"obligation":{"$ref":"#/components/schemas/AddressBase58"},"obligationType":{"type":"string"},"transactionDisplayName":{"type":"string"},"isSecondPartOfCompositeIx":{"type":"boolean"}},"required":["createdOn","timestamp","transactionSignature","transactionName","liquidityToken","liquidityTokenMint","liquidityTokenAmount","isLiquidationWithdrawal","obligation","obligationType","transactionDisplayName"]},"KlendAllMarketsUserTransactionsResponseV2":{"type":"array","items":{"$ref":"#/components/schemas/KlendAllMarketsUserTransactionsItem"}},"KlendAllMarketsUserTransactionsItem":{"type":"object","properties":{"market":{"$ref":"#/components/schemas/AddressBase58"},"obligations":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/KlendTransactionUserResponseV2"}}}},"required":["market","obligations"]},"KlendTransactionUserResponseV2":{"type":"object","properties":{"createdOn":{"type":"string","format":"date-time"},"timestamp":{"type":"number"},"transactionSignature":{"type":"string"},"transactionName":{"type":"string"},"liquidityToken":{"type":"string"},"liquidityTokenMint":{"$ref":"#/components/schemas/AddressBase58"},"liquidityTokenAmount":{"$ref":"#/components/schemas/Decimal"},"liquidityTokenPrice":{"$ref":"#/components/schemas/Decimal"},"solPrice":{"$ref":"#/components/schemas/Decimal"},"liquidityUsdValue":{"$ref":"#/components/schemas/Decimal"},"isLiquidationWithdrawal":{"type":"boolean"},"obligationType":{"type":"string"},"transactionDisplayName":{"type":"string"},"isSecondPartOfCompositeIx":{"type":"boolean"}},"required":["createdOn","timestamp","transactionSignature","transactionName","liquidityToken","liquidityTokenMint","liquidityTokenAmount","isLiquidationWithdrawal","obligationType","transactionDisplayName"]},"KlendUserTransactionsResponseV2":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/KlendTransactionUserResponseV2"}}},"KlendBulkTxResponse":{"type":"object","properties":{"result":{"type":"array","items":{"$ref":"#/components/schemas/KlendBulkTxResultItem"}},"paginationToken":{"type":"string","description":"Token for next page. Absent when no more results."}},"required":["result"]},"KlendBulkTxResultItem":{"type":"object","properties":{"ixs":{"type":"array","items":{"nullable":true}},"timestamp":{"type":"string","format":"date-time"},"signature":{"type":"string"},"obligation":{"type":"string"},"wallet":{"type":"string"},"rawJson":{"type":"string"}},"required":["ixs","timestamp","signature","obligation","wallet"]},"KlendBulkTxBody":{"type":"object","properties":{"start":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Date input (ISO 8601 string or epoch in ms)","examples":["2024-01-01T00:00:00.000Z",1704067200000],"example":"2020-01-01T00:00Z"},"end":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Date input (ISO 8601 string or epoch in ms)","examples":["2024-01-01T00:00:00.000Z",1704067200000],"example":"2020-02-01T00:00Z"},"instruction":{"type":"string","description":"Instruction name to filter by","example":"depositReserveLiquidityAndObligationCollateralV2"},"paginationToken":{"type":"string","example":"eyJsYXN0SWQiOiIxMjM0In0=","description":"Pagination token for next page"}},"required":["instruction"]},"MarketConfigResponseV2":{"type":"object","properties":{"name":{"type":"string","description":"Market name","example":"SOL/BTC Market"},"isPrimary":{"type":"boolean","description":"Whether this is a primary market","example":true},"description":{"type":"string","description":"Market description","example":"Primary market on mainnet"},"lendingMarket":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Lending market public key","example":"7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"}]},"lookupTable":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Lookup table address","example":"FGMSBiyVE8TvZcdQnZETAAKw28tkQJ2ccZy6pyp95URb"}]},"isCurated":{"type":"boolean","description":"Whether this market is curated","example":false}},"required":["name","isPrimary","description","lendingMarket","lookupTable","isCurated"]},"PnlResponse":{"type":"object","properties":{"usd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"PnL in USD","example":"25.21"}]},"sol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"PnL in SOL","example":"1.0"}]},"invested":{"type":"object","properties":{"usd":{"$ref":"#/components/schemas/Decimal"},"sol":{"$ref":"#/components/schemas/Decimal"}},"required":["usd","sol"],"description":"Invested amounts"},"truncatedHistory":{"type":"boolean","description":"Set when the obligation transaction history exceeded the computation cap and older transactions were dropped from the PnL calculation"}},"required":["usd","sol"]},"InterestRateEarnedResponse":{"type":"object","properties":{"totalFeesEarnedObligation":{"$ref":"#/components/schemas/TotalFeesObligation"},"historicalFeesObligation":{"$ref":"#/components/schemas/HistoricalFeesObligation"}},"required":["totalFeesEarnedObligation","historicalFeesObligation"]},"TotalFeesObligation":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/TotalInterestFees"},"description":"Total interest fees earned per obligation","example":{"uy9LQEjELMp8r3qpb7fJhu2Y32ydAxTEo74VAEZ6EHQs":{"ts":1762128000000,"solFees":"0.00001610553929183891699891935039215032176993","usdFees":"0.003058858072628656437082436052718601394968"}}},"TotalInterestFees":{"type":"object","properties":{"ts":{"type":"number","description":"Timestamp in milliseconds","example":1762128000000},"solFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total fees in SOL","example":"0.00001610553929183891699891935039215032176993"}]},"usdFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total fees in USD","example":"0.003058858072628656437082436052718601394968"}]}},"required":["ts","solFees","usdFees"]},"HistoricalFeesObligation":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/TokenInterestFees"}},"description":"Historical breakdown of interest fees earned over time"},"TokenInterestFees":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/InterestFees"},"description":"Historical fees breakdown by reserve. Key is the reserve address.","example":{"d4A2prbA2whesmvHaL88BH6Ewn5N4bTSU2Ze8P6Bc4Q":{"ts":1760745600000,"solFees":"0","usdFees":"0","nativeFees":"0"}}},"InterestFees":{"type":"object","properties":{"ts":{"type":"number","description":"Timestamp in milliseconds","example":1762128000000},"solFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Fees in SOL","example":"0.00001610553929183891699891935039215032176993"}]},"usdFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Fees in USD","example":"0.003058858072628656437082436052718601394968"}]},"nativeFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Fees in native token units","example":"0"}]}},"required":["ts","solFees","usdFees","nativeFees"]},"InterestRatePaidResponse":{"type":"object","properties":{"totalFeesPaidObligation":{"allOf":[{"$ref":"#/components/schemas/TotalFeesObligation"},{"description":"Total interest fees paid per obligation"}]},"historicalFeesObligation":{"allOf":[{"$ref":"#/components/schemas/HistoricalFeesObligation"},{"description":"Historical breakdown of interest fees paid over time"}]}},"required":["totalFeesPaidObligation","historicalFeesObligation"]},"ObligationMetricsHistoryResponse":{"type":"object","properties":{"obligation":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Obligation public key","example":"3HdrCvoJ91bwgVTejdDXfguo6S2A9jjUkBR5fasq4WhB"}]},"history":{"type":"array","items":{"$ref":"#/components/schemas/ObligationMetrics"},"description":"Historical metrics for the obligation"}},"required":["obligation","history"]},"ObligationMetrics":{"type":"object","properties":{"timestamp":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp of the metrics snapshot","example":"2025-10-17T00:00:00.000Z"}]},"refreshedStats":{"$ref":"#/components/schemas/ObligationStats"},"deposits":{"type":"array","items":{"$ref":"#/components/schemas/Position"},"description":"Array of deposit positions"},"borrows":{"type":"array","items":{"$ref":"#/components/schemas/Position"},"description":"Array of borrow positions"},"tag":{"type":"integer","minimum":0,"maximum":6,"description":"Obligation type tag (0 = Vanilla, 1 = Multiply, 2 = Lending, 3 = Leverage, 4 = MultiplyFixedRate, 5 = LendingFixedRate, 6 = LeverageFixedRate)","example":0},"obligationSolValues":{"$ref":"#/components/schemas/ObligationSolValues"}},"required":["timestamp","refreshedStats","deposits","borrows","tag","obligationSolValues"]},"ObligationStats":{"type":"object","properties":{"leverage":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Leverage ratio of the obligation","example":"1.0580080950430842892"}]},"borrowLimit":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Maximum borrow limit","example":"1.3496969599567630906"}]},"loanToValue":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Current loan-to-value ratio","example":"0.054827647647367082766"}]},"liquidationLtv":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Liquidation loan-to-value threshold","example":"0.75000000000000000001"}]},"netAccountValue":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Net account value","example":"1.7239138521696367095"}]},"userTotalBorrow":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total amount borrowed by the user","example":"0.10000095858274584538"}]},"userTotalDeposit":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total amount deposited by the user","example":"1.8239148107523825549"}]},"borrowUtilization":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Borrow utilization ratio","example":"0.074091415739685246983"}]},"borrowLiquidationLimit":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Borrow liquidation limit","example":"1.3679361080642869162"}]},"userTotalCollateralDeposit":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total collateral deposited by the user","example":"1.8239148107523825549"}]},"userTotalLiquidatableDeposit":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total liquidatable deposit amount","example":"1.8239148107523825549"}]},"potentialElevationGroupUpdate":{"type":"number","description":"Potential elevation group update indicator","example":0},"userTotalBorrowBorrowFactorAdjusted":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total borrow adjusted by borrow factor","example":"0.10000095858274584538"}]}},"required":["leverage","borrowLimit","loanToValue","liquidationLtv","netAccountValue","userTotalBorrow","userTotalDeposit","borrowUtilization","borrowLiquidationLimit","userTotalCollateralDeposit","userTotalLiquidatableDeposit","potentialElevationGroupUpdate","userTotalBorrowBorrowFactorAdjusted"],"description":"Refreshed obligation statistics"},"Position":{"type":"object","properties":{"amount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount in the position","example":"10000708.005624756258"}]},"mintAddress":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token mint address","example":"So11111111111111111111111111111111111111112"}]},"marketValueRefreshed":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Refreshed market value of the position","example":"1.8239148107523825549"}]},"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Address of the reserve backing the position. Absent on snapshots taken before reserve tracking was added to the indexer (2026-01-16).","example":"D6q6wuQSrifJKZYpR1M8R4YawnLDtDsMmWM1NbBmgJ59"}]}},"required":["amount","mintAddress","marketValueRefreshed"]},"ObligationSolValues":{"type":"object","properties":{"netValueSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Net value in SOL","example":"0.009469142566566941841900274495955292427975"}]},"collateralValueSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Collateral value in SOL","example":"0.01001842948854487210536205388880118310325"}]},"debtValueSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Debt value in SOL","example":"0.0005492869219779302633519230615141419874818"}]},"solPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"SOL price in USD","example":"182.05596125"}]},"timestampSolPrice":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp of the SOL price","example":"2025-10-17T00:00:00.000Z"}]},"timestampObligation":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp of the obligation snapshot","example":"2025-10-17T00:00:00.000Z"}]}},"required":["netValueSol","collateralValueSol","debtValueSol","solPrice","timestampSolPrice","timestampObligation"],"description":"Obligation values denominated in SOL"},"KlendAllMarketsUserTransactionsResponseV3":{"type":"array","items":{"$ref":"#/components/schemas/KlendAllMarketsUserTransactionsItemV3"}},"KlendAllMarketsUserTransactionsItemV3":{"type":"object","properties":{"market":{"$ref":"#/components/schemas/AddressBase58"},"obligations":{"$ref":"#/components/schemas/KlendUserObligationsMapV3"},"withdrawQueueTransactions":{"type":"array","items":{"$ref":"#/components/schemas/KlendWithdrawQueueTransactionV3"}}},"required":["market","obligations","withdrawQueueTransactions"]},"KlendUserObligationsMapV3":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/KlendTransactionUserResponseV3"}}},"KlendTransactionUserResponseV3":{"type":"object","properties":{"createdOn":{"type":"string","format":"date-time"},"transactionSignature":{"type":"string"},"transactionName":{"type":"string"},"liquidityToken":{"type":"string"},"liquidityTokenMint":{"$ref":"#/components/schemas/AddressBase58"},"liquidityTokenAmount":{"$ref":"#/components/schemas/Decimal"},"liquidityTokenPrice":{"$ref":"#/components/schemas/Decimal"},"solPrice":{"$ref":"#/components/schemas/Decimal"},"liquidityUsdValue":{"$ref":"#/components/schemas/Decimal"},"isLiquidationWithdrawal":{"type":"boolean"},"obligationType":{"type":"string"},"transactionDisplayName":{"type":"string"},"isSecondPartOfCompositeIx":{"type":"boolean"},"timestamp":{"type":"string","pattern":"^\\d+$","description":"Unix timestamp in milliseconds"}},"required":["createdOn","transactionSignature","transactionName","liquidityToken","liquidityTokenMint","liquidityTokenAmount","isLiquidationWithdrawal","obligationType","transactionDisplayName","timestamp"]},"KlendWithdrawQueueTransactionV3":{"type":"object","properties":{"createdOn":{"type":"string","format":"date-time"},"timestamp":{"type":"number"},"transactionSignature":{"type":"string"},"transactionName":{"type":"string"},"transactionDisplayName":{"type":"string"},"reserve":{"$ref":"#/components/schemas/AddressBase58"},"withdrawTicket":{"$ref":"#/components/schemas/AddressBase58"},"solPrice":{"$ref":"#/components/schemas/Decimal"},"liquidityToken":{"type":"string"},"liquidityTokenMint":{"$ref":"#/components/schemas/AddressBase58"},"liquidityTokenAmount":{"$ref":"#/components/schemas/Decimal"},"liquidityTokenPrice":{"$ref":"#/components/schemas/Decimal"},"liquidityUsdValue":{"$ref":"#/components/schemas/Decimal"}},"required":["createdOn","timestamp","transactionSignature","transactionName","transactionDisplayName","reserve","withdrawTicket","solPrice","liquidityToken","liquidityTokenMint","liquidityTokenAmount","liquidityTokenPrice","liquidityUsdValue"]},"KlendUserTransactionsResponseV3":{"type":"object","properties":{"obligations":{"$ref":"#/components/schemas/KlendUserObligationsMapV3"},"withdrawQueueTransactions":{"type":"array","items":{"$ref":"#/components/schemas/KlendWithdrawQueueTransactionV3"}}},"required":["obligations","withdrawQueueTransactions"]},"KlendBulkTxResponseV3":{"type":"object","properties":{"obligationTransactions":{"type":"array","items":{"$ref":"#/components/schemas/KlendBulkTxObligationResultItemV3"}},"withdrawQueueTransactions":{"type":"array","items":{"$ref":"#/components/schemas/KlendBulkTxWithdrawQueueResultItemV3"}},"paginationToken":{"type":"string","description":"Token for next page. Absent when no more results."}},"required":["obligationTransactions","withdrawQueueTransactions"]},"KlendBulkTxObligationResultItemV3":{"type":"object","properties":{"ixs":{"type":"array","items":{"nullable":true}},"timestamp":{"type":"string","format":"date-time"},"signature":{"type":"string"},"obligation":{"type":"string"},"wallet":{"type":"string"},"rawJson":{"type":"string"}},"required":["ixs","timestamp","signature","obligation","wallet"]},"KlendBulkTxWithdrawQueueResultItemV3":{"type":"object","properties":{"ixs":{"type":"array","items":{"nullable":true}},"timestamp":{"type":"string","format":"date-time"},"signature":{"type":"string"},"wallet":{"type":"string"},"reserve":{"$ref":"#/components/schemas/AddressBase58"},"withdrawTicket":{"$ref":"#/components/schemas/AddressBase58"},"rawJson":{"type":"string"}},"required":["ixs","timestamp","signature","wallet","reserve","withdrawTicket"]},"KlendBulkTxBodyV3":{"type":"object","properties":{"start":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Date input (ISO 8601 string or epoch in ms)","examples":["2024-01-01T00:00:00.000Z",1704067200000],"example":"2020-01-01T00:00Z"},"end":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Date input (ISO 8601 string or epoch in ms)","examples":["2024-01-01T00:00:00.000Z",1704067200000],"example":"2020-02-01T00:00Z"},"instruction":{"type":"string","description":"Instruction name to filter by","example":"depositReserveLiquidityAndObligationCollateralV2"},"paginationToken":{"type":"string","example":"eyJsYXN0SWQiOiIxMjM0In0=","description":"Pagination token for next page"}},"required":["instruction"]},"KlendDepositPositionHistoryResponse":{"type":"array","items":{"$ref":"#/components/schemas/KlendDepositPositionHistoryItem"}},"KlendDepositPositionHistoryItem":{"type":"object","properties":{"createdOn":{"type":"string","format":"date-time","description":"Snapshot timestamp"},"tokenAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Deposited liquidity token amount"}]},"usdAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value of the deposit"}]},"apy":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Supply APY at the snapshot"}]},"cumulativeInterestEarned":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Lifetime interest earned in liquidity tokens"}]},"cumulativeInterestEarnedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Lifetime interest earned in USD"}]},"cumulativeInterestEarnedSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Lifetime interest earned in SOL"}]}},"required":["createdOn","tokenAmount","usdAmount","apy","cumulativeInterestEarned","cumulativeInterestEarnedUsd","cumulativeInterestEarnedSol"]},"BorrowOrderFillsResponse":{"type":"object","properties":{"fills":{"type":"array","items":{"$ref":"#/components/schemas/BorrowOrderFill"}}},"required":["fills"]},"BorrowOrderFill":{"type":"object","properties":{"eventType":{"type":"string","enum":["partial_fill","full_fill"],"description":"Type of fill event","example":"partial_fill"},"eventTimestamp":{"type":"string","format":"date-time","description":"Timestamp of the on-chain transaction"},"transactionSignature":{"type":"string","description":"Transaction signature","example":"2XWcSQVtR4NoHBhzYpDkYkmYtEFkFXC5ZwrKiPok1kvA86GvnN15qP7RNP6eTeNWgJqgnR1GA2M3QPp1hucW7e1v"},"debtLiquidityMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Debt liquidity token mint"}]},"filledAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount filled in this event (difference of remaining debt before and after)"}]}},"required":["eventType","eventTimestamp","transactionSignature","debtLiquidityMint","filledAmount"]},"ObligationsWithOpenBorrowOrdersResponse":{"type":"object","properties":{"obligations":{"type":"array","items":{"$ref":"#/components/schemas/OpenBorrowOrder"}}},"required":["obligations"]},"OpenBorrowOrder":{"type":"object","properties":{"obligationPubkey":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Obligation public key"}]},"owner":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Obligation owner wallet"}]},"deposits":{"type":"array","items":{"$ref":"#/components/schemas/ObligationDeposit"},"description":"Active collateral deposits backing this obligation"},"debtLiquidityMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Debt liquidity token mint"}]},"remainingDebtAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Remaining debt amount to be filled, in lamports"}]},"requestedDebtAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Originally requested debt amount, in lamports"}]},"filledDebtDestination":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token account where filled funds are sent"}]},"maxBorrowRateBps":{"type":"number","description":"Maximum borrow rate the owner agrees to, in bps"},"minDebtTermSeconds":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Minimum debt term the owner agrees to, in seconds"}]},"fillableUntilTimestamp":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Unix timestamp until which the order can be filled"}]},"placedAtTimestamp":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Unix timestamp when the order was placed"}]},"lastUpdatedAtTimestamp":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Unix timestamp when the order was last updated"}]}},"required":["obligationPubkey","owner","deposits","debtLiquidityMint","remainingDebtAmount","requestedDebtAmount","filledDebtDestination","maxBorrowRateBps","minDebtTermSeconds","fillableUntilTimestamp","placedAtTimestamp","lastUpdatedAtTimestamp"]},"ObligationDeposit":{"type":"object","properties":{"depositReserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Reserve address the collateral is deposited to"}]},"depositedAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount of collateral deposited"}]}},"required":["depositReserve","depositedAmount"]},"YieldHistoryResponse":{"type":"array","items":{"$ref":"#/components/schemas/YieldHistoryItem"}},"YieldHistoryItem":{"type":"object","properties":{"createdOn":{"$ref":"#/components/schemas/SnapshotDateTime"},"apr":{"$ref":"#/components/schemas/Apr"},"apy":{"$ref":"#/components/schemas/Apy"}},"required":["createdOn","apr","apy"]},"Apr":{"type":"string","description":"APR in decimal format (not percentage) represented as string. Multiply by 100 to get percentage (%) - 0.1 in API response is 10%.","example":"0.2","examples":["0.123","0","1","1.23","-0.5","999999.999999"]},"PtYieldsResponse":{"type":"array","items":{"$ref":"#/components/schemas/PtYieldItem"}},"PtYieldItem":{"type":"object","properties":{"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Fresh stored PT APY in decimal units for an active Kamino reserve. Matches reserve stats `underlyingApy.current` for the same stored snapshot."}]},"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Valid base58-encoded address of the token mint","example":"So11111111111111111111111111111111111111112","examples":["So11111111111111111111111111111111111111112","EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v","DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"]}]}},"required":["apy","tokenMint"]},"AirdropAllocation":{"type":"object","properties":{"quantity":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Quantity of tokens allocated to the user for the airdrop"}]},"name":{"type":"string","description":"Name of the airdrop allocation source","example":"main"}},"required":["quantity","name"]},"AirdropMetrics":{"type":"object","properties":{"totalAllocation":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total allocated amount across all users for this airdrop"}]},"totalUsers":{"$ref":"#/components/schemas/Integer"},"claimDate":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Date when the airdrop claim becomes available or was executed"}]}},"required":["totalAllocation","totalUsers","claimDate"]},"Integer":{"type":"string","description":"Total number of unique users participating in the airdrop","example":"1","examples":["0","1","100","-1"]},"StakingYield":{"type":"object","properties":{"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Staking APY in decimal format for the token"}]},"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Valid base58-encoded address of the liquid staking token mint","example":"J1toso1uCk3RLmjorhTtrVwY9HJ7X8V9yYac6Y7kGCPn","examples":["J1toso1uCk3RLmjorhTtrVwY9HJ7X8V9yYac6Y7kGCPn","mSoLzYCxHdYgdzU16g5QSh3i5K3z3KZK7ytfqcJm7So","pSo1f9nQXWgXibFtKf7NWYxb5enAM4qfP6UJSiXRQfL"]}]}},"required":["apy","tokenMint"]},"Epoch":{"type":"object","properties":{"epoch":{"type":"number","description":"Epoch identifier","example":678},"firstSlot":{"type":"number","description":"First slot number of the epoch","example":"123456789"},"lastSlot":{"type":"number","description":"Last slot number of the epoch","example":"123999999"},"startBlockTime":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"UTC timestamp when the epoch started"}]},"endBlockTime":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"UTC timestamp when the epoch ended"}]}},"required":["epoch","firstSlot","lastSlot","startBlockTime","endBlockTime"]},"KVaultInstruction":{"type":"object","properties":{"createdOn":{"type":"string","format":"date-time","description":"Date when the instruction was created"},"instruction":{"type":"string","description":"Type of instruction"},"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token mint address"}]},"tokenAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount of tokens involved"}]},"tokenPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Price of the token at the time of instruction"}]},"solPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Price of SOL at the time of instruction"}]},"sharePrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Price per share at the time of instruction"}]},"numberOfShares":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of shares involved"}]},"usdValue":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value of the transaction"}]},"transaction":{"type":"string","description":"Transaction signature"},"kvault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"KVault identifier"}]},"latestPosition":{"type":"boolean","description":"Indicates if this is the latest position"}},"required":["createdOn","instruction","tokenMint","tokenAmount","tokenPrice","solPrice","sharePrice","numberOfShares","usdValue","transaction","kvault","latestPosition"]},"KvaultAllocationTransactionsResponse":{"type":"object","properties":{"result":{"type":"array","items":{"$ref":"#/components/schemas/KvaultAllocationTransaction"}},"paginationToken":{"type":"string","example":"eyJsYXN0SWQiOjgxfQ==","description":"Optional pagination token"}},"required":["result"]},"KvaultAllocationTransaction":{"type":"object","properties":{"createdOn":{"allOf":[{"$ref":"#/components/schemas/TransactionDateTime"},{"description":"Timestamp when the allocation changed"}]},"tx":{"type":"string","description":"Transaction signature","example":"2XWcSQVtR4NoHBhzYpDkYkmYtEFkFXC5ZwrKiPok1kvA86GvnN15qP7RNP6eTeNWgJqgnR1GA2M3QPp1hucW7e1v"},"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the lending market"}]},"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the allocation reserve"}]},"solPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"SOL price when the allocation changed"}]},"tokenPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Vault token price when the allocation changed"}]},"tokenAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Signed vault token amount: positive when supplied to the reserve and negative when withdrawn from it"}]}},"required":["createdOn","tx","market","reserve","solPrice","tokenPrice","tokenAmount"]},"KvaultBulkTransaction":{"type":"object","properties":{"ix":{"$ref":"#/components/schemas/KvaultEnrichedInstruction"},"timestamp":{"$ref":"#/components/schemas/TransactionDateTime"},"signature":{"type":"string","description":"Transaction signature","example":"2XWcSQVtR4NoHBhzYpDkYkmYtEFkFXC5ZwrKiPok1kvA86GvnN15qP7RNP6eTeNWgJqgnR1GA2M3QPp1hucW7e1v"},"kvault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Valid base58-encoded address of the vault","example":"HDsayqAsDWy3QvANGqh2yNraqcD8Fnjgh73Mhb3WRS5E"}]},"wallet":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Valid base58-encoded address of the user wallet","example":"AxqtG9SHDkZTLSWg81Sp7VqAzQpRqXtR9ziJ3VQAS8As"}]},"rawJson":{"type":"string","description":"Entire raw JSON of the instruction"}},"required":["ix","timestamp","signature","kvault","wallet"]},"KvaultEnrichedInstruction":{"type":"object","properties":{"market":{"type":"string","description":"KLend market public key","example":"EyV4jxSMd6vpuRgrxMFem7CKRhcB4Vv6WMRDtxPQNP4"},"reserve":{"type":"string","description":"KLend reserve public key","example":"ALnjBHECcdBsSwgVJ6A8pFEZ15qxE5jJQriCXSKT3Bte"},"solPrice":{"$ref":"#/components/schemas/Decimal"},"sharePrice":{"$ref":"#/components/schemas/Decimal"},"tokenPrice":{"$ref":"#/components/schemas/Decimal"},"tokenAmount":{"$ref":"#/components/schemas/Decimal"},"numberOfShares":{"$ref":"#/components/schemas/Decimal"}},"required":["solPrice","sharePrice","tokenPrice","tokenAmount","numberOfShares"],"description":"Enriched kvault instruction object","example":{"tokenAmount":"835.924775","numberOfShares":"814.34612","solPrice":"138.7776002","sharePrice":"1.0263403430350673002","tokenPrice":"0.99984713"}},"KvaultVaultTransactionsResponse":{"type":"object","properties":{"result":{"type":"array","items":{"$ref":"#/components/schemas/KvaultVaultTransaction"}},"paginationToken":{"type":"string","example":"eyJsYXN0SWQiOjgxfQ==","description":"Optional pagination token"}},"required":["result"]},"KvaultVaultTransaction":{"type":"object","properties":{"ix":{"$ref":"#/components/schemas/KvaultVaultEnrichedInstruction"},"timestamp":{"$ref":"#/components/schemas/TransactionDateTime"},"signature":{"type":"string","description":"Transaction signature","example":"2XWcSQVtR4NoHBhzYpDkYkmYtEFkFXC5ZwrKiPok1kvA86GvnN15qP7RNP6eTeNWgJqgnR1GA2M3QPp1hucW7e1v"},"kvault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Valid base58-encoded address of the vault","example":"HDsayqAsDWy3QvANGqh2yNraqcD8Fnjgh73Mhb3WRS5E"}]},"wallet":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Valid base58-encoded address of the user wallet","example":"AxqtG9SHDkZTLSWg81Sp7VqAzQpRqXtR9ziJ3VQAS8As"}]}},"required":["ix","timestamp","signature","kvault","wallet"]},"KvaultVaultEnrichedInstruction":{"type":"object","properties":{"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"KLend market public key"}]},"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"KLend reserve public key"}]},"solPrice":{"$ref":"#/components/schemas/Decimal"},"sharePrice":{"$ref":"#/components/schemas/Decimal"},"tokenPrice":{"$ref":"#/components/schemas/Decimal"},"tokenAmount":{"$ref":"#/components/schemas/Decimal"},"numberOfShares":{"$ref":"#/components/schemas/Decimal"}},"required":["solPrice","sharePrice","tokenPrice","tokenAmount","numberOfShares"]},"EnqueuedWithdrawTransactionsResponse":{"type":"array","items":{"$ref":"#/components/schemas/KlendWithdrawQueueTransactionV3"}},"VaultStateArray":{"type":"array","items":{"type":"object","properties":{"address":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the vault"}]},"state":{"$ref":"#/components/schemas/The vault state object"},"programId":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the kvault program which owns the vault"}]}},"required":["address","state","programId"]}},"The vault state object":{"type":"object","properties":{"vaultAdminAuthority":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the vault admin authority"}]},"baseVaultAuthority":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the base vault authority"}]},"baseVaultAuthorityBump":{"type":"number","description":"Bump seed for the base vault authority"},"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the token mint"}]},"tokenMintDecimals":{"type":"number","description":"Decimals of the token mint"},"tokenVault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the token vault"}]},"tokenProgram":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the token program"}]},"sharesMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the shares mint"}]},"sharesMintDecimals":{"type":"number","description":"Decimals of the shares mint"},"tokenAvailable":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Amount of tokens available in the vault"}]},"sharesIssued":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total shares issued by the vault"}]},"availableCrankFunds":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Available crank funds in the vault"}]},"performanceFeeBps":{"type":"number","description":"Performance fee in basis points"},"managementFeeBps":{"type":"number","description":"Management fee in basis points"},"lastFeeChargeTimestamp":{"type":"number","description":"Timestamp of the last fee charge"},"prevAum":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Previous assets under management scaled factor"}]},"pendingFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Pending fees scaled factor"}]},"vaultAllocationStrategy":{"type":"array","items":{"type":"object","properties":{"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the reserve"}]},"ctokenVault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the cToken vault"}]},"targetAllocationWeight":{"type":"number","description":"Target allocation weight as a whole number"},"tokenAllocationCap":{"type":"string","description":"Token allocation cap in lamports"},"ctokenVaultBump":{"type":"number","description":"cToken vault bump seed"},"ctokenAllocation":{"type":"string","description":"cToken allocation in lamports"},"lastInvestSlot":{"type":"string","description":"Last invest slot"},"tokenTargetAllocation":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token target allocation scaled factor"}]}},"required":["reserve","ctokenVault","targetAllocationWeight","tokenAllocationCap","ctokenVaultBump","ctokenAllocation","lastInvestSlot","tokenTargetAllocation"],"description":"Vault allocation strategy entry"},"description":"List of vault allocation strategies"},"minDepositAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Minimum deposit amount in lamports"}]},"minWithdrawAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Minimum withdraw amount in lamports"}]},"minInvestAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Minimum invest amount in lamports"}]},"minInvestDelaySlots":{"type":"number","description":"Minimum invest delay in slots"},"crankFundFeePerReserve":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Crank fund fee per reserve"}]},"pendingAdmin":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the pending admin"}]},"cumulativeEarnedInterest":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative earned interest in decimal format"}]},"cumulativeMgmtFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative management fees in decimal format"}]},"cumulativePerfFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative performance fees in decimal format"}]},"name":{"type":"string","description":"Name of the vault"},"vaultLookupTable":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the vault lookup table"}]},"vaultFarm":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the vault farm"}]},"creationTimestamp":{"type":"number","description":"Timestamp of vault creation"},"allocationAdmin":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the allocation admin"}]}},"required":["vaultAdminAuthority","baseVaultAuthority","baseVaultAuthorityBump","tokenMint","tokenMintDecimals","tokenVault","tokenProgram","sharesMint","sharesMintDecimals","tokenAvailable","sharesIssued","availableCrankFunds","performanceFeeBps","managementFeeBps","lastFeeChargeTimestamp","prevAum","pendingFees","vaultAllocationStrategy","minDepositAmount","minWithdrawAmount","minInvestAmount","minInvestDelaySlots","crankFundFeePerReserve","pendingAdmin","cumulativeEarnedInterest","cumulativeMgmtFees","cumulativePerfFees","name","vaultLookupTable","vaultFarm","creationTimestamp","allocationAdmin"]},"KvaultAllocationsResponse":{"type":"object","properties":{"asOf":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp when the allocation snapshot was computed"}]},"capitalDeployedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total USD value deployed across allocation reserves"}]},"utilizationRatio":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Borrowed share of total vault assets, including unallocated funds, in decimal format"}]},"allocations":{"type":"array","items":{"$ref":"#/components/schemas/KvaultAllocation"}},"unallocated":{"type":"object","properties":{"tokenAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Liquidity token amount not deployed to a reserve"}]},"usd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value not deployed to a reserve"}]},"pct":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Share of vault assets not deployed to a reserve as a percentage"}]}},"required":["tokenAmount","usd","pct"]}},"required":["asOf","capitalDeployedUsd","utilizationRatio","allocations","unallocated"]},"KvaultAllocation":{"type":"object","properties":{"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the allocation reserve"}]},"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the reserve lending market"}]},"marketName":{"type":"string","description":"Name of the reserve lending market"},"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Liquidity token mint of the allocation reserve"}]},"symbol":{"type":"string","description":"Allocation token symbol"},"targetWeightPct":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Configured allocation weight as a percentage"}]},"actualPct":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Current share of vault assets in the reserve as a percentage"}]},"suppliedTokenAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Liquidity token amount currently supplied to the reserve"}]},"suppliedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value currently supplied to the reserve"}]},"capTokenAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Maximum liquidity token amount that may be allocated to the reserve"}]},"utilizationRatio":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Current reserve utilization ratio in decimal format"}]},"supplyApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Current base supply APY in decimal format"}]},"rewardsApy":{"anyOf":[{"$ref":"#/components/schemas/Apy"},{"nullable":true}],"description":"Current reserve rewards APY in decimal format, or null when unavailable"},"collateral":{"type":"array","items":{"$ref":"#/components/schemas/KvaultAllocationCollateral"},"description":"Other active reserves accepted as collateral in the market"}},"required":["reserve","market","marketName","tokenMint","symbol","targetWeightPct","actualPct","suppliedTokenAmount","suppliedUsd","capTokenAmount","utilizationRatio","supplyApy","rewardsApy","collateral"]},"KvaultAllocationCollateral":{"type":"object","properties":{"mint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Liquidity token mint of the collateral reserve"}]},"symbol":{"type":"string","description":"Collateral token symbol"},"totalSupplyUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total supplied liquidity in the collateral reserve, in USD"}]},"liqLtvPct":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Liquidation loan-to-value threshold as a percentage"}]}},"required":["mint","symbol","totalSupplyUsd","liqLtvPct"]},"KvaultBatchMetricsResponse":{"type":"object","properties":{"result":{"type":"array","items":{"$ref":"#/components/schemas/KvaultBatchMetric"}},"paginationToken":{"type":"string","example":"eyJsYXN0SWQiOjgxfQ==","description":"Optional pagination token"}},"required":["result"]},"KvaultBatchMetric":{"allOf":[{"$ref":"#/components/schemas/KvaultMetrics"},{"type":"object","properties":{"kvault":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"KVault public key"}]}},"required":["kvault"]}]},"KvaultMetrics":{"type":"object","properties":{"apy7d":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"7-day Annual Percentage Yield of the kvault"}]},"apy24h":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"24-hour Annual Percentage Yield of the kvault"}]},"apy30d":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"30-day Annual Percentage Yield of the kvault"}]},"apy90d":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"90-day Annual Percentage Yield of the kvault"}]},"apy180d":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"180-day Annual Percentage Yield of the kvault"}]},"apy365d":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"365-day Annual Percentage Yield of the kvault"}]},"tvlUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total value locked in USD"}]},"tvlSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total value locked in SOL"}]},"deposit_cap":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Maximum deposits accepted by the kvault"}]},"vaultType":{"type":"string","description":"KVault type"},"tokenPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Price of the kvault token"}]},"solPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Price of SOL"}]},"tokensAvailable":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of tokens available in the kvault"}]},"tokensAvailableUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value of tokens available in the kvault"}]},"tokensInvested":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of tokens invested in the kvault"}]},"tokensInvestedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value of tokens invested in the kvault"}]},"sharePrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Price per share of the kvault"}]},"tokensPerShare":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Number of tokens per share in the kvault"}]},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield of the kvault"}]},"apyTheoretical":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Theoretical Annual Percentage Yield of the kvault"}]},"apyActual":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Actual Annual Percentage Yield of the kvault"}]},"apyFarmRewards":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield from farm rewards in the kvault"}]},"apyIncentives":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield from incentives in the kvault"}]},"apyReservesIncentives":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield from reserves incentives in the kvault"}]},"numberOfHolders":{"type":"number","description":"Number of holders of the kvault"},"sharesIssued":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total shares issued by the kvault"}]},"cumulativeInterestEarned":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative interest earned in the kvault token amount"}]},"cumulativeInterestEarnedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative interest earned in USD for the kvault"}]},"cumulativeInterestEarnedSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative interest earned in SOL for the kvault"}]},"interestEarnedPerSecond":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned per second in the kvault token amount"}]},"interestEarnedPerSecondUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned per second in USD for the kvault"}]},"interestEarnedPerSecondSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned per second in SOL for the kvault"}]},"cumulativePerformanceFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative performance fees in the kvault token amount"}]},"cumulativePerformanceFeesUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative performance fees in USD for the kvault"}]},"cumulativePerformanceFeesSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative performance fees in SOL for the kvault"}]},"cumulativeManagementFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative management fees in the kvault token amount"}]},"cumulativeManagementFeesUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative management fees in USD for the kvault"}]},"cumulativeManagementFeesSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Cumulative management fees in SOL for the kvault"}]}},"required":["apy7d","apy24h","apy30d","apy90d","apy180d","apy365d","tokenPrice","solPrice","tokensAvailable","tokensAvailableUsd","tokensInvested","tokensInvestedUsd","sharePrice","tokensPerShare","apy","apyTheoretical","apyActual","apyFarmRewards","apyIncentives","apyReservesIncentives","numberOfHolders","sharesIssued","cumulativeInterestEarned","cumulativeInterestEarnedUsd","cumulativeInterestEarnedSol","interestEarnedPerSecond","interestEarnedPerSecondUsd","interestEarnedPerSecondSol","cumulativePerformanceFees","cumulativePerformanceFeesUsd","cumulativePerformanceFeesSol","cumulativeManagementFees","cumulativeManagementFeesUsd","cumulativeManagementFeesSol"]},"KvaultAccountDataResponse":{"type":"object","properties":{"slot":{"type":"string","description":"Slot at which the response was assembled"},"blockTime":{"type":"string","description":"Block time for the response slot, as Unix seconds"},"recentSlotDurationMs":{"type":"number","description":"Recent average slot duration in milliseconds"},"vaults":{"type":"array","items":{"type":"object","properties":{"pubkey":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Account public key"}]},"data":{"type":"string","description":"Base64 encoded account data"}},"required":["pubkey","data"]},"description":"VaultState accounts of the requested vaults"},"markets":{"type":"array","items":{"type":"object","properties":{"pubkey":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Account public key"}]},"data":{"type":"string","description":"Base64 encoded account data"}},"required":["pubkey","data"]},"description":"LendingMarket accounts of every market the requested vaults allocate into"},"reserves":{"type":"array","items":{"type":"object","properties":{"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Market public key"}]},"reserves":{"type":"array","items":{"type":"object","properties":{"pubkey":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Account public key"}]},"data":{"type":"string","description":"Base64 encoded account data"}},"required":["pubkey","data"]}}},"required":["market","reserves"]},"description":"Reserve accounts of every market the requested vaults allocate into, grouped by market"},"farms":{"type":"array","items":{"type":"object","properties":{"pubkey":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Account public key"}]},"data":{"type":"string","description":"Base64 encoded account data"}},"required":["pubkey","data"]},"description":"FarmState accounts of the vault farms, first-loss-capital farms, delegated farms and allocation reserve farms"}},"required":["slot","blockTime","recentSlotDurationMs","vaults","markets","reserves","farms"]},"KvaultBatchStatsResponse":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/KvaultStats"},"description":"Vault stats keyed by vault public key. Unknown vaults are omitted."},"KvaultStats":{"type":"object","properties":{"token":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Vault token mint"}]},"tokenPrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD price of the vault token"}]},"apy":{"type":"object","properties":{"total":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Total supply APY: net base APY plus farm and reserve incentives"}]},"base":{"type":"object","properties":{"gross":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Gross lending APY earned by the current allocations, before vault fees"}]},"net":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Net lending APY earned by the current allocations, after vault fees"}]}},"required":["gross","net"]},"farmIncentives":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"APY from the vault farm incentives, sum of farmRewards[].apy"}]},"reservesIncentives":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"APY from the allocation reserve farm incentives, weighted by target allocation"}]},"autoCompounding":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"APY from the native vault reward stream"}]}},"required":["total","base","farmIncentives","reservesIncentives","autoCompounding"]},"farmRewards":{"type":"array","items":{"type":"object","properties":{"rewardToken":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Reward token mint address"}]},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Current reward APY component from the vault farm, as a decimal fraction"}]},"tokensPerSecond":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Reward token emission rate in UI token units per second"}]}},"required":["rewardToken","apy","tokensPerSecond"]},"description":"Per-token rewards of the vault farm (shares staked in the vault farm). apy.farmIncentives is the sum of apy over these rows. Empty when the vault has no farm or nothing is emitting."},"holdings":{"type":"object","properties":{"available":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token amount sitting uninvested in the vault"}]},"availableUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value sitting uninvested in the vault"}]},"invested":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token amount invested in reserves"}]},"investedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value invested in reserves"}]},"totalAumIncludingFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total token AUM of the vault, including pending fees"}]},"totalAumIncludingFeesUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total USD AUM of the vault, including pending fees"}]},"pendingFees":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Pending fees in token amount"}]},"pendingFeesUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Pending fees in USD"}]}},"required":["available","availableUsd","invested","investedUsd","totalAumIncludingFees","totalAumIncludingFeesUsd","pendingFees","pendingFeesUsd"]},"sharesIssued":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total shares issued by the vault"}]},"tokensPerShare":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token amount one share is worth"}]},"sharePrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD price of one share"}]},"utilizationRatio":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Share of the vault total AUM that is borrowed out of the reserves"}]},"capitalDeployed":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token amount deployed into reserves"}]},"capitalDeployedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value deployed into reserves"}]},"allocations":{"type":"array","items":{"type":"object","properties":{"reserve":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Reserve public key the vault allocates into"}]},"market":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Lending market public key of the reserve"}]},"targetPct":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Target allocation weight of the reserve as a percentage of all target weights"}]},"actualPct":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Share of the vault total AUM currently supplied to the reserve, in percent"}]},"suppliedTokenAmount":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Token amount currently supplied to the reserve"}]},"suppliedUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"USD value currently supplied to the reserve"}]},"supplyApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Current supply APY of the reserve"}]}},"required":["reserve","market","targetPct","actualPct","suppliedTokenAmount","suppliedUsd","supplyApy"]},"description":"Per-reserve allocation breakdown"}},"required":["token","tokenPrice","apy","farmRewards","holdings","sharesIssued","tokensPerShare","sharePrice","utilizationRatio","capitalDeployed","capitalDeployedUsd","allocations"]},"KvaultBatchTimeSeriesResponse":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","properties":{"timestamp":{"$ref":"#/components/schemas/SnapshotDateTime"},"tvl":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total Value Locked in token denomination"}]},"solTvl":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total Value Locked in SOL"}]},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield"}]},"apyTheoretical":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Theoretical Annual Percentage Yield"}]},"apyActual":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Actual Annual Percentage Yield"}]},"apyFarmRewards":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield from Farm Rewards"}]},"apyReservesIncentives":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield from Reserves Incentives"}]},"apyIncentives":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield from Incentives"}]},"sharePrice":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Share Price of the vault"}]},"interest":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned in token denomination"}]},"interestUsd":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned in USD"}]},"interestSol":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Interest earned in SOL"}]},"reserves":{"type":"array","items":{"type":"object","properties":{"pubkey":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Public key of the reserve"}]},"supplyApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Supply Annual Percentage Yield"}]},"rewardsApy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Rewards Annual Percentage Yield"}]},"allocationRatio":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Allocation Ratio"}]},"rewardTokens":{"type":"array","items":{"type":"object","properties":{"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token mint address"}]},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield for the reward token"}]}},"required":["tokenMint","apy"]},"description":"List of reward tokens for the reserve"}},"required":["pubkey","supplyApy","rewardsApy","allocationRatio","rewardTokens"]},"description":"List of reserves with rewards"},"vaultRewards":{"type":"array","items":{"type":"object","properties":{"tokenMint":{"allOf":[{"$ref":"#/components/schemas/AddressBase58"},{"description":"Token mint address"}]},"apy":{"allOf":[{"$ref":"#/components/schemas/Apy"},{"description":"Annual Percentage Yield for the vault reward token"}]}},"required":["tokenMint","apy"]},"description":"List of vault reward tokens"}},"required":["timestamp","tvl","solTvl","apy","apyTheoretical","apyActual","apyFarmRewards","apyReservesIncentives","apyIncentives","sharePrice","interest","interestUsd","interestSol","reserves","vaultRewards"]}},"description":"Vault metrics time series keyed by vault public key. Unknown vaults are omitted."},"KvaultHoldersResponse":{"type":"object","properties":{"snapshotTakenAt":{"allOf":[{"$ref":"#/components/schemas/SnapshotDateTime"},{"description":"Timestamp of the vault state snapshot the holders are read from"}]},"totalSharesIssued":{"allOf":[{"$ref":"#/components/schemas/Decimal"},{"description":"Total shares issued by the vault in the same snapshot"}]},"holderCount":{"type"
[...]
